.card-header.cardActivitie
	.row
		span.col.mb-0.title
			| Polling station 
		span.col-3.status.background-status
			| status	
	span.row.d-flex.justify-content-center
		p Mark attendance or lack the poll worker
			button.btn.btn-link(type='button')#btn-state-js
				img(src="img/angle-right.png", alt="#")