.container.takeReportPhoto
	.row.d-flex.steps
		img(src="/img/steps.png", alt="pasos")
	.row.d-flex-column.title
		h3 You are working on President Contest
		img(src="/img/info-circle.png", alt="")
		span This report has 2 pages
		.row.d-flex-column
			span Fill in the fields below with the information from the official report.


	.row.container.formulario-general
		.col.d-flex.flex-column
			.row
			span page 1 of 2
			.row 
				form
					.row
						.col 
							p Datos Generales
					.row
						.col.form-group
							.row
							.col
								label(for='exampleInputEmail1') Cantidad total de firmas
							.col 
								input#exampleInputEmail1.form-control(type='text')	
						.col.form-group
							.row
								.col
									label(for='exampleInputPassword1') Total sufragios emitidos
								.col
									input#exampleInputPassword1.form-control(type='text')
					.row
						.col.form-group
							.row
								.col
									label(for='exampleInputPassword1') Cantidad total de talones
								.col
									input#exampleInputPassword1.form-control(type='text')
						.col.form-group
							.row
								.col
									label(for='exampleInputPassword1') Auto Sim
								.col
									input#exampleInputPassword1.form-control(type='text')
				.row
					p 1. Seccion
				.container 
					.row
						.form-group.row
								.col
									label(for='exampleInputPassword1') Candidate 1
								.col
									input#exampleInputPassword1.form-control(type='text')
					.row
						.form-group.row
								.col
									label(for='exampleInputPassword1') Candidate 2
								.col
									input#exampleInputPassword1.form-control(type='text')
					.row
						.form-group.row
								.col
									label(for='exampleInputPassword1') Candidate 3
								.col
									input#exampleInputPassword1.form-control(type='text')
					.row
						.form-group.row
								.col
									label(for='exampleInputPassword1') Candidate 4
								.col
									input#exampleInputPassword1.form-control(type='text')
				
