.container.takeReportPhoto
	.row.d-flex.steps
		img(src="/img/steps.png", alt="pasos")
	.row.d-flex-column.title
		h3 You are working on President Contest
		img(src="/img/info-circle.png", alt="")
		span This report has 2 pages
		
	.row
		.container.mt-4
			.col.action
				img(src="/img/takephoto.png", alt="photo")
			.col.action.mt-3
				button(type='submit').colormain.buttonStyle#btn-state-js Take report photo 