.container.takeReportPhoto
	.row.d-flex.steps
		img(src="/img/steps.png", alt="pasos")
	.row.d-flex-column.title
		h3 You are working on President Contest
		img(src="/img/info-circle.png", alt="")
		span This report has 2 pages
	.row
		.container.mt-4
			.row
				.col.justify-content-center.d-flex
					button(type='submit').buttonStyle Review photo
				.col.justify-content-center.d-flex
					button#btn-state-js(type='submit').buttonStyle Take photo 
			.row 
				.col
					div imagen
				.col 
					div imagen
