.card-activity {
  width: 100%;
  height: 258px;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(193, 199, 208, 0.8);
  background-color: #fff;
  border-left: 4px solid #7d0d90;
}
.card-active:active{
  
}
.card-start {
  width: 100%;
  height: 124px;
  border-radius: 4px;
  background-color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-start img {
  width: 103px;
  height: 102px;
}
.this-activity-start {
  font-size: 16.8px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2d2f3a;
}
.upcoming {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #21232b;
}
// In progress
.card-start-progress {
  border-radius: 4px;
  background-color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms;
  animation-duration: 1ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: chartjs-render-animation;
}
.inprogress {
  background-color: #ffbe26;
  border-radius: 12px;
  padding: 4px;
  color: #21232b;
  font-weight: bold;
  line-height: 1.71;
}
.card-start-progress ul li {
  list-style: none;
}
.card-start-progress ul .row {
  align-items: center;
}

.rectangle-status {
  width: 16px;
  height: 16px;
  border-radius: 11px;
  margin-right: 4px;
  background-color: #66ba6a;
}
