
.dashboardMain {
    height: 80%;
    border-radius: 6px;
    border: solid 1px #dfe1e5;

}
 .main-sidebar {
    border-left: 4px solid #1c6983;
   padding-left: 0;
   max-height: calc(100vh - 9rem);
   overflow-y: auto;
   overflow-x: hidden;
}
.main-sidebar .card-activity {
    border: none;
}
.main-sidebar .card-activity .status {
    display: none;
}
.main-sidebar .card-activity img {
    display: none;
}
.main-sidebar form {
    padding: 4px 6px;
    background-color: #ebecf0;
}
.main-sidebar form input {
    border-radius: 100px;
}
@import "_cardPolling";

/****MAIN***///// 
main #option-1  {
  
    height: 100%;
}

main #option-1 .container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #option-1 span { 
    width: 438px;
    height: 72px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
 main .oval-option {
    width: 256px;
    height: 256px;
    background-color: #dfe1e5;
    border-radius: 50%;
}
main #option-2 {
    display: none;
}
main .steps  {
    max-height: 130px;
    justify-content: center;
}
.takeReportPhoto .title {
    display: block;
    margin: 10px;
}
#option-2 .takeReportPhoto .action {
    text-align: center;
}

 .takeReportPhotoStep1  {
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   text-align: center;

}
#option-3 .row  {
    justify-content: center;
}

#option-5 .row {
    justify-content: center;
}