.buttonStyle {
  color: #fff;
  width: 179px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #4d7782;
  background-color: #003d4c;
}

.cont {
  width: 100%;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bars img {
  width: 24px;
  height: 24px;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.Polling-Place-name {
  height: 23px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #023a47;
}

.Background {
  height: 56px;
  border: solid 1px #c1c7d0;
  background-color: #ffffff;
}

.options .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wifi-connection {
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Mask {
  height: 40px;
}

.charger {
  -o-object-fit: contain;
     object-fit: contain;
}

.charger span {
  margin: 2px;
}

.user a {
  color: #212529;
}

.user a::after {
  margin-left: 25px;
}

.Rectangle {
  width: 100%;
  height: 40px;
  background-color: #023a47;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.Your-activities {
  width: 267px;
  height: 24px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  margin: 64px 16px;
}

.navActivities li.nav-item .nav-link {
  border-bottom: 4px solid #a6abb3;
  width: 140px;
}

.navActivities li.nav-item .nav-link.active {
  border-bottom: 4px solid #023a47;
}

.card-activity {
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(193, 199, 208, 0.8);
          box-shadow: 0 2px 6px 0 rgba(193, 199, 208, 0.8);
  background-color: #fff;
  color: #21232b;
  cursor: pointer;
}

.border-purple {
  border-left: 4px solid #7d0d90;
}

.border-blue {
  border-left: 4px solid #26bae0;
}

a.lin:hover {
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card-start {
  width: 100%;
  height: 124px;
  border-radius: 4px;
  background-color: #f4f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-start img {
  width: 103px;
  height: 102px;
}

.this-activity-start {
  font-size: 16.8px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2d2f3a;
}

.upcoming {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #21232b;
}

.card-start-progress {
  border-radius: 4px;
  background-color: #f4f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 1ms;
          animation: chartjs-render-animation 1ms;
  -webkit-animation-duration: 1ms;
          animation-duration: 1ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: chartjs-render-animation;
          animation-name: chartjs-render-animation;
}

.status {
  height: 24px;
  border-radius: 12px;
  padding: 0 8px;
  color: #593e00;
  font-weight: bold;
}

.status-progress {
  background-color: #ffbe26;
}

.status-upcoming {
  background-color: #dfe1e5;
}

.angle-right {
  width: 24px;
  height: 25px;
}

.card-start-progress p {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.card-start-progress ul {
  padding-left: 20px;
}

.card-start-progress ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangle-status {
  width: 16px;
  height: 16px;
  border-radius: 11px;
  margin-right: 4px;
  background-color: #66ba6a;
}

.dashboardMain {
  height: 80%;
  border-radius: 6px;
  border: solid 1px #dfe1e5;
}

.main-sidebar {
  border-left: 4px solid #1c6983;
  padding-left: 0;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.main-sidebar .card-activity {
  border: none;
}

.main-sidebar .card-activity .status {
  display: none;
}

.main-sidebar .card-activity img {
  display: none;
}

.main-sidebar form {
  padding: 4px 6px;
  background-color: #ebecf0;
}

.main-sidebar form input {
  border-radius: 100px;
}

.cardpolling .title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2d2f3a;
  margin-left: 10%;
}

.cardpolling .card-header {
  max-height: 90px;
}

.cardpolling .card-header div.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardpolling .cardpaddingActivie {
  padding: 0;
}

.cardpolling .cardActivitie {
  padding: 4px;
}

/****MAIN***/
main.main-options {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  overflow-x: hidden;
}

main #option-1 {
  height: 100%;
}

main #option-1 .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #option-1 span {
  width: 438px;
  height: 72px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

main .oval-option {
  width: 256px;
  height: 256px;
  background-color: #dfe1e5;
  border-radius: 50%;
}

main #option-2 {
  display: none;
}

main .steps {
  max-height: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.takeReportPhoto .title {
  display: block;
  margin: 10px;
}

#option-2 .takeReportPhoto .action {
  text-align: center;
}

.takeReportPhotoStep1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

#option-3 .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#option-5 .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */