.card-activity
  .card-body
    .row.title-card
        h5.card-title.col-9 Send Results
        span.card-subtitle.mb-2.text-muted.inprogress In progress
    p.card-text
        | Onces start the activity, you have 1 hour to complete it
    .card-start-progress.row
        .col-6
            canvas.myChart-js.chartjs-render-monitor
        .col-6
            p Polling stations
            ul
                .row
                    div.rectangle-status
                    li Pending
                .row
                    div.rectangle-status
                    li In Progress
                .row
                    div.rectangle-status
                    li Completed
                .row
                    div.rectangle-status
                    li With ticket

