.card-activity
  .card-body
    .row.title-card
        h5.card-title.col-9 Send Results
        span.card-subtitle.mb-2.text-muted.inprogress In progress
    p.card-text
        | Onces start the activity, you have 1 hour to complete it
    .card-start-progress.row
        .col-6
            canvas.myChart.chartjs-render-monitor
        .col-6
            p Polling stations
            ul
                span
                li Pending
                span
                li In Progress
                span
                li Completed
                span
                li With ticket

