a(href="smtally").lin
	.card-activity.border-purple
		.card-body
			.row.title-card
					h5.card-title.col-9 Send Results
					span.card-subtitle.mb-2.text-muted.inprogress In progress
			p.card-text
					| Onces start the activity, you have 1 hour to complete it
			.card-start-progress.row
					.col-6
							canvas.myChart-js.chartjs-render-monitor
					.col-6
							p Polling stations
							ul
								
								li 
									div.rectangle-status 
									| Pending
								li 
									div.rectangle-status 
									| Pending
								li 
									div.rectangle-status 
									| Pending
								li 
									div.rectangle-status 
									| Pending
								
								


