.card-activity.border-blue
  .card-body
    .row.title-card
        h5.card-title.col-9 Poll worker’s attend
        span.card-subtitle.mb-2.text-muted.status.status-upcoming Upcoming
    p.card-text
        | Onces start the activity, you have 1 hour to complete it
    .card-start.row 
        img(src="img/group-16.png", alt="")
        p.this-activity-start This activity start at 05:00