.container
	ul.nav
		li.nav-item
			a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Calendar
		li.nav-item
			a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home') Messages for you

		li.nav-item
			a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home') Home
		li.nav-item
			a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home') Home
