html
  header
    include head.pug
    include nav.pug
  body
    main
      .container-fluid.mx-auto
        include navActivities.pug   
        include cards.pug
  footer.footer
    include footer.pug
  include scripts.pug
