html
		nav.navbar.Background.navbar-expand-lg
			.col-md-8
				.row
					.col-1.bars
						img(src="img/bars.png", alt="")
					.col-11.name
						.nav-item
							a.navbar-brand
								img.d-inline-block.align-top.Mask(src='/img/bars@2x.pg', alt='')
								|	Polling Place Name
			.col-md-4
				.row.options
					.col
						.nav-item.wifi-connection
							img(src="img/wifi-connection.png", alt="wifi-connection.png")
					.col
						.nav-item.charger
							span 100%
							img(src="img/invalid-name.png", alt="" )
							
					.col
						.nav-item.date 
						span 27/01/2016
					.col-4
						.nav-item.user.dropdown
							a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') User
							.dropdown-menu
								a.dropdown-item(href='#') Digitalizador
								a.dropdown-item(href='#') Tech
							

		.Rectangle
			span.Your-activities Your Activities


				


		
		
