html
	header
		include head.pug
		include nav.pug
	body
			.ml-5.mr-5.mt-4
				.row.dashboardMain
					nav.col-4.p-0.bg-light.sidebar.main-sidebar
						.sidebar-sticky
							include cardProgress
							form.nav-item
								input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
							#accordionExample.accordion
								include utilities/_dcardpolling
								include utilities/_dcardpolling
														
					main#options.col-8(role='main')
						#option-1.row(status="true")
							.container
								.oval-option.d-flex.align-items-center.justify-content-center
									img(src="img/folder.png", alt="", srcset="")
								span  Select a polling place and the contets to start send results
						#option-2.row(status="false" )
							include ./utilities/_dTakereport.pug
						#option-3.row(status="false" )
							include ./utilities/_dTakephoto.pug
						#option-4.row(status="false")
							include ./utilities/_dTakephotostep2.pug
						#option-5.row(status="false")
							include ./utilities/_dTakephoto.pug
						#option-6.row(status="false")
							include ./utilities/_dTakephotostep2.pug
						
	include scripts.pug				
					
		

