html
	header
		include head.pug
		include nav.pug
	body
			.container.mt-5
				.row
					nav.col-4.p-0.bg-light.sidebar.main-sidebar
						.sidebar-sticky
							include cardProgress
							form.nav-item
								input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
							#accordionExample.accordion
								include utilities/_dcardpolling
														
					main.col-8(role='main').d-flex.align-items-center.flex-column.justify-content-center
						#option-1
							.oval-option
							span Select a polling place and the contets to start send results
						#option-2
						
	include scripts.pug				
					
		

